* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to right, #66381f, #bd8860);
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  color: white;
}
header {
  display: flex;
  position: relative;
  justify-content: center;
}

h1 {
  font-size: 7vw;
  font-family: "Playfair Display", serif;
}

hr {
  border: 1px solid white;
  width: 100px;
}

.logo {
  background-image: url(logo.png);
  background-size: cover;
  height: 140px;
  width: 140px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.466) 0px 0px 20px;
  border-radius: 50%;
}

.seller {
  height: 50vw;
  width: 45vw;
  background-image: url(coffee-seller.png);
  background-size: cover;
  position: absolute;
  z-index: -1;
  margin-right: -778px;
  opacity: 50%;
}
.navbar {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  flex-direction: row;
  padding: 21px 2px;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-top: 40px;
  top: 0;
  width: 90%;
  margin-left: 100px;
}

ul li {
  list-style-type: none;
  display: inline;
  padding: 20px 20px;
}

ul li a {
  font-size: 2vw;
}

.dropdown {
  position: absolute;
  margin-top: 10px;
  margin-left: 430px;
  display: none;
}

.dropdown-2 {
  position: absolute;
  margin-top: 10px;
  margin-left: 150px;
  display: none;
}

.dropdown li a {
  display: flex;
  text-align: left;
  background-color: rgb(255, 255, 255);
  margin: -010px;
  border-radius: 20px;
  color: black;
  font-size: 1vw;
  padding: 10px 20px;
}

.dropdown-2 li a {
  display: flex;
  text-align: left;
  background-color: rgb(255, 255, 255);
  margin: -010px;
  border-radius: 20px;
  color: black;
  font-size: 1vw;
  padding: 10px 20px;
}
#gallary {
  position: relative;
}

#gallary:hover .dropdown {
  display: block;
}
#menu {
  position: relative;
}
#menu:hover .dropdown-2 {
  display: block;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 1vw;
  padding: 20px 20px;
  border-radius: 20px;
  text-shadow: none;
  background-color: rgb(255, 255, 255);
  transition: background-color 1s;
  box-shadow: rgba(0, 0, 0, 0.692) 0px 0px 10px;
}

.navbar a:hover {
  background-color: #793910;
  box-shadow: rgba(0, 0, 0, 0.404) 0px 0px 20px;
  cursor: pointer;
  color: white;
}
#home {
  height: auto;
  width: auto;
  margin-left: 60px;
  font-family: "Playfair Display", serif;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.cup {
  background-size: cover;
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  margin-left: 750px;
  margin-top: 400px;
  position: absolute;
  animation: mymove 10s infinite ease;
}

@keyframes mymove {
  100% {
    transform: rotate(360deg);
  }
}

.drink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: #a52615; */
  position: relative;
  padding: 20px;
  margin: 350px 0px 0px 0px;
}
.drink p {
  margin-bottom: 30px;
  font-size: 1.5vw;
}

.menu {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 0px;
}

.menu a {
  font-weight: bold;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  width: 80%;
  margin-top: 30px;
  animation: myfirst 3s infinite;
}
@keyframes myfirst {
  0% {
    background-color: transparent;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: transparent;
    left: 50px;
    top: 0px;
  }
  50% {
    background-color: transparent;
    left: -50px;
    top: 0px;
  }
  75% {
    background-color: transparent;
    left: 0px;
    top: 0px;
  }
  100% {
    background-color: transparent;
    left: 0px;
    top: 0px;
  }
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(156, 95, 37);
  height: auto;
  width: auto;
  border-radius: 30px;
  padding: 0px 10px;
  content: "";
  clear: both;
  margin: 80px 20px;
  box-shadow: rgba(0, 0, 0, 0.363) 0px 10px 20px;
}

.card img {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 20vw;
  height: 25vh;
  transition: width 1s, height 1s, transform 1s;
}

.card img:hover {
  transform: scale(1.3, 1.3);
}

.card h1 {
  font-size: 3vw;
  font-family: "Playfair Display", serif;
  margin: 10px 0px;
}

.card p {
  font-weight: lighter;
  font-size: 1.5vw;
}

.btn {
  margin: 20px 0px;
  padding: 20px 0px;
  width: 200px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.37) 3px 6px 10px;
  border: none;
  font-size: large;
  background-color: white;
  transition: background-color 1s, width 0.5s;
}

.btn:hover {
  cursor: pointer;
  color: white;
  background-color: #a52615;
  width: 250px;
  box-shadow: rgba(75, 75, 75, 0.87) 0px 0px 20px;
}

.mid {
  height: 300px;
  width: 100%;
  margin: 100px 0px 200px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(bg-04png.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.mid-text {
  text-align: left;
  width: 50%;
  padding: 20px;
  margin: 200px 10px;
}

.mid-img img {
  animation: myparty 3s infinite ease;
  margin-top: 50px;
  width: auto;
  height: auto;
}

@keyframes myparty {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.bags {
  height: 90vh;
  width: 90vw;
  margin-left: 70px;
  background-color: #b58555;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.459) 0px 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: myback 9s infinite linear;
  box-sizing: border-box;
  content: "";
  clear: both;
}

@keyframes myback {
  0% {
    background-color: #c28f5c;
  }
  25% {
    background-color: #745537;
  }
  50% {
    background-color: #c28f5c;
  }
  75% {
    background-color: #745537;
  }
  100% {
    background-color: #c28f5c;
  }
}

.bags-img img {
  margin: 10px;
  transition: width 1s, height 1s, transform 1s;
}

.bags-img img:hover {
  transform: scale(1.2, 1.2);
}

.bags-text {
  margin: 100px 0px;
  padding: 90px 50px;
  width: 50%;
  text-align: left;
}
.bags-text p {
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: lighter;
}

.about {
  height: 600px;
  width: 800%;
  margin: 300px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* background-image: url(/about-bg.png); */
  background-size: cover;
  box-sizing: border-box;
}

#about p {
  font-size: 1.5rem;
}

.about-img1 {
  height: 350px;
  width: 250px;
  float: left;
  background-image: url(about-mini1.png);
  background-size: cover;
  position: absolute;
  margin-top: 200px;
  margin-left: -1210px;
  animation: myparty 3s infinite ease;
}
.about-img2 {
  height: 400px;
  width: 400px;
  float: left;

  background-size: cover;
  position: absolute;

  margin-left: 960px;
  animation: myparty 3s infinite ease;
}
.about-img3 {
  height: 290px;
  width: 290px;
  float: left;
  background-size: cover;
  position: absolute;
  margin-top: 620px;
  margin-left: 1010px;
  animation: myimg 6s infinite;
}

@keyframes myimg {
  0% {
    transform: rotate(360deg);
  }
  /* 25% {transform: rotate(180deg);} 
     50% {transform: rotate(0deg);}
     50% {transform: rotate(180deg);}
    100% {transform: rotate(0deg);}  */
}

.more {
  margin: 200px 0px;
  width: 70%;
  height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

.left {
  width: 30%;
  height: 100%;
  font-family: serif;
  text-align: left;
  margin: 20px 40px;
}

.right {
  width: 40%;
  height: 100%;
  padding: 0px 40px;
  text-align: left;
  margin: 20px 40px;
}

.right > a {
  padding: 0;
}

.party {
  height: 800px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  clear: both;
  box-sizing: border-box;
  text-align: center;
  margin-top: 100px;
}

.party p {
  font-size: 1.2vw;
  width: 400px;
}

.party-mini {
  box-shadow: inset rgba(250, 250, 249, 0.664) 10px 10px 60px 0px;

  backdrop-filter: blur(50%);
  height: 80vh;
  width: 50vw;
  border-radius: 40px 0px 0px 40px;
  padding: 30px 60px;
  position: relative;
  /* box-shadow: rgba(0, 0, 0, 0.37) 0px 0px 20px;  */
  text-align: justify;
}

.party-mini-2 {
  box-shadow: rgba(0, 0, 0, 0.753) 0px 0px 70px;

  display: flex;

  flex-direction: column;
  background-color: #548d80;
  height: 80vh;
  width: 25vw;
  border-radius: 0px 40px 40px 0px;
  position: relative;
  padding: 30px 75px;

  /* box-shadow: rgba(0, 0, 0, 0.37) 10px 0px 20px; */
}

.party-mini-2 button {
  background-color: transparent;
  position: absolute;
  padding: 20px 10px;
  position: absolute;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-weight: bolder;
  font-size: 1.5vw;
  box-shadow: rgba(0, 0, 0, 0.445) 0px 0px 10px;
  transition: background-color 1s;
  font-size: 1.2vw;
  margin: 300px 30px;
}
.party-mini-2 button:hover {
  color: black;

  background-color: white;
}

.party-img {
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  height: 50vw;
  width: 40vw;
  margin-top: 220px;
  margin-right: -100px;
  /* background-color: #745537; */
  position: absolute;
  overflow: hidden;
}

.party-img img {
  transition: width 1s, height 1s, transform 1s;
}

.party-img img:hover {
  transform: scale(1.2, 1.2);
}

a {
  cursor: pointer;
  font-size: 1.6vw;
  text-decoration: none;
  color: black;
  padding: 5px;
  font-weight: bolder;
  background-color: white;
  margin-top: 10px;
}

a:hover {
  cursor: pointer;
}

footer {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  box-sizing: border-box;
  padding: 30px 0px;
  background-image: url(bg-03.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
}

.social {
  display: flex;
  /* background-color: blueviolet; */
  height: 320px;
  width: 40%;
  /* justify-content: center;  */
  align-items: center;
  font-size: 4vw;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 100px;
  box-sizing: border-box;
}

.social i {
  margin: 20px;
  padding-top: 50px;
}

.timetable {
  height: 350px;
  width: 40%;
  margin-top: -30px;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  box-sizing: border-box;
  font-size: 1.2vw;
  /* background-color: blueviolet; */
}
table {
  width: 70%;
  margin: 0px 20px;
  border-bottom: 2px solid white;
}

tr,
th {
  border: 2px solid white;

  font-size: larger;
  padding: 10px 20px;
  transition: background-color 1s;
}

td {
  padding: 10px 30px;
  font-weight: lighter;
}

tr:hover {
  background-color: white;
  color: black;
  cursor: crosshair;
  border-radius: 20px;
}

footer h1 {
  font-style: italic;
  padding-bottom: 10px;
  border-radius: 20px;
}

.end {
  background-color: #7f442562;
  max-width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: row;
    padding: 1px 2px;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-top: 30px;
    top: 0;
    width: 100%;
    margin-left: 0px;
  }

  ul li {
    padding: 4px 4px;
  }

  .navbar a {
    font-size: 1vw;
    padding: 20px 20px;
  }

  .navbar a {
    font-size: 0.5rem;
    padding: 10px 8px;
  }
  .seller {
    display: none;
  }
  #home {
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
  }
  .cup {
    background-size: cover;
    height: 50vw;
    width: 50vw;
    top: 5%;
    right: 25%;
    position: none;
  }
  .drink {
    margin: 250px 0px 0px 0px;
  }
  .drink p {
    margin-bottom: 0px;
    font-size: 0.6em;
  }
  .drink hr {
    margin-bottom: 10px;
  }
  .cards {
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
    animation: none;
  }
  .card {
    background-color: rgb(156, 95, 37);
    border-radius: 30px;
    margin: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.363) 0px 10px 20px;
  }

  .card img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    height: 25vh;
  }
  #gallary {
    position: none;
  }

  .about {
    margin-top: 500px;
  }
  .bags {
    height: 65vh;
    width: auto;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 400%;
  }
  .bags-img img {
    margin: 0px;
    transition: width 1s, height 1s, transform 1s;
  }

  .bags-img img:hover {
    transform: scale(1.2, 1.2);
  }

  .bags-text {
    margin: 0px 0px;
    padding: 0px 20px;
    width: auto;
    text-align: left;
  }

  .bags-text p {
    margin-bottom: 8px;
    font-size: 0.7rem;
    font-weight: lighter;
  }

  .mid {
    height: 300px;
    width: auto;
    margin: 550px 0px 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(bg-04png.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
  }
  #about p {
    font-size: 0.7rem;
    padding: 20px;
  }

  .about {
    height: 0px;
    margin-top: 330px;
  }

  .more {
    margin: 60px 0px;
    width: 90%;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
  }

  .left {
    width: 40%;
    height: 100%;
    font-family: serif;
    text-align: left;
    margin: 0px 31px;
  }

  .right {
    width: 39%;
    height: 100%;
    padding: 0px 0px;
    text-align: left;
    margin: -1px 0px;
  }

  .about-img1 {
    height: 350px;
    width: 250px;
    background-image: url(about-mini1.png);
    margin-left: -210px;
  }
  .about-img2 {
    display: none;
  }
  .about-img3 {
    display: none;
  }

  .party {
    height: 800px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    content: "";
    clear: both;
    box-sizing: border-box;
    margin: 0px;
    text-align: center;
  }

  .party p {
    font-size: 0.8rem;
    width: 400px;
    display: flex;
    flex-direction: column;
  }

  .party-mini {
    height: 80vh;
    width: 85vw;
    border-radius: 40px;
    padding: 30px 30px;
    margin: 50px 10px;
  }

  .party-mini-2 {
    flex-direction: column;
    height: 60vh;
    width: 85vw;
    border-radius: 40px;
    padding: 30px 30px;
    text-align: start;
  }

  .party-mini-2 button {
    padding: 20px 10px;
    font-size: 0.7rem;
    margin: 150px 00px;
  }

  .party-img {
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 95%;
    width: 67%;
    margin-top: 188%;

    margin-right: -100px;
    position: absolute;
    overflow: hidden;
  }

  .party-img img {
    transition: width 1s, height 1s, transform 1s;
  }

  .party-img img:hover {
    transform: scale(1.2, 1.2);
  }

  a {
    font-size: 0.7rem;
  }

  footer {
    padding: 30px 0px;
    background-image: url(bg-03.png);
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .end {
    background-color: #7f442562;
    max-width: auto;
    height: 90px;
    padding: 20px;
  }

  .social {
    width: auto;
    margin: 0px;
    padding: 0px;
    height: 140px;
  }
  .social i {
    padding-top: 0px;
  }

  .timetable {
    height: 350px;
    width: auto;
    margin: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
    font-size: 0.8rem;
  }
  body {
  }
}
